.header {
  display: flex;

  .menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    ul {
      padding: 0;
      display: flex;
      align-items: center;
      gap: 60px;
    }
  }
}
