.main {
  position: relative;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .contact {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}