header {
  position: relative;
  height: 889px;
  background: url("../../assets/img/header_bg.png") 50%;

  .container {
    margin-bottom: 188px;

    .logo {
      position: absolute;
      left: 24px;
      top: 49px;

      .logo_b {
        position: absolute;
        top: 26px;
        left: -3px;
      }
    }

    .menu {
      padding: 49px 0;
      display: flex;
      justify-content: center;
      flex-grow: 1;
      margin-left: 65px;

      ul {
        padding: 0;
        display: flex;
        gap: 60px;
      }
    }

    img {
      width: 100%;
      height: 100vh;
    }

    h3 {
      color: #fee8c8;
      font-family: Yeseva One;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.5px;
    }

    .text_logo {
      color: #fee8c8;
      text-align: center;
      font-family: Babylonica;
      font-size: 100px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.4em;
    }
  }

  .contact {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 165px;
    height: 165px;
    color: white;
    border: 5px solid #b5612c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    h3 {
      color: #b5612c;
      text-align: center;
      font-family: Yeseva One;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.5px;
    }
  }
}
