.footer {
  display: flex;

  .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > * {
      width: 300px;
    }
  }

  .social {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .icon {
    width: 64px;
    height: 64px;
  }
}
